* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    width: 1440px;
    position: relative;
}

.content img {
    border-radius: 10000px;
}

.content img:nth-child(1) {
    position: absolute;
    right: 3px;
}

.content-2 {
    background-color: black;
    height: 310px;
}