*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    display: flex;
    width: 200px;
    padding: 50px;
}
div{
    width: 500px;
    margin: 20px auto;
    text-align: center;
}
h3{
    letter-spacing: 2px;
    margin: 0 auto 10px auto;
    width: 220px;
}
img{
    width: 100%;
    height: auto;
    margin: 10px 0;
}
.header{
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}
.text{
    text-align: justify;
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.news{
    padding-right: 30px;
    border-right: 1px solid rgb(192, 173, 173);
}
.news2{
    padding-left: 30px;
}   
