* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-header {
    background-color: rgb(76 175 80);
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 20px;
}

nav ul {
    background-color: rgb(214 177 42);
    display: flex;
    justify-content: center;
    padding: 5px;
    list-style-type: none;
}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul li {
    padding: 10px 5px;
} 

nav ul li:hover {
    background-color: rgb(182 221 233);
}

main {
    padding: 20px;
}

main section:nth-child(2) {
    padding-top: 25px;
}

footer {
    background-color: hsl(0deg 0% 20%);
    color: white;
    padding: 10px;
    text-align: center;
}