* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header{
    margin-left: 100px;
    padding: 10px;
}  
h1{
    padding: 20px;
    width: 215px;
    border-bottom: 2px solid tomato;
}
.grid-box {
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 700px;
}
.box {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 50px;
}


.icon-box {
    width: 230px;
    height: 108px;
    border: 1px solid #ddd;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box i {
    color: tomato;
    font-size: 30px;
    width: 30px;
    transform: rotate(-45deg);
}

.content h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.content p {
    color: #666;
    line-height: 1.5;
}