.header {
    color: #16639b;
    font-size: 30px;
}

.context {
    border-left: 5px solid yellow;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fffaef;
}