section {
    border: 1px solid;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
div {
    border: none;
    background-color: #3498DB;
    color: white;
    padding: 20px;
    width: calc(25% - 60px);
}
.card {
    width: calc(100% / 2 - 60px);
}