* {
    background-color: black;
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}

h1 {
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 20px;
}

.update-color {
    color: green;
    font-weight: 700;
    margin-top: 10px;
    font-size: 15px;
    text-decoration: underline dotted;
}