* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.container {
    width: 450px;
    margin: 0 auto;
    background: #120505;
    background: linear-gradient(40deg, rgba(18, 5, 5, 1) 0%, rgba(178, 49, 224, 1) 100%, rgba(237, 221, 83, 1) 100%);
    justify-content: space-between;
}

input,
textarea {
    background: transparent;
    color: white;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 4px;
    outline: none;
}

.toge {
    padding: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.toge div {
    padding: 10px;
}

.mesage {
    padding: 27px;
}

button {
    letter-spacing: 2px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}

.button {
    padding-bottom: 10px;
    padding-left: 27px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
b {
    color: white;
}