* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    padding: 30px;
    background-color: white;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row-block {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.col-big {
    flex: 1;
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 170px;
}

.col-small-grid {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.small-item {
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 5px);
    height: 80px;
}