* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    background-color: powderblue;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;

}