*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
} 
.header{
    margin-left: 300px;
    padding: 10px;
}  
h1{
    padding: 20px;
    width: 290px;
    border-bottom: 2px solid gray;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    padding: 30px;
}

.card {
    margin-left: -30px;
    width: 280px;
    background: #fff;
    padding: 10px;
    border-right: 1px solid #e0e0e0;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.card p {
    margin-bottom: 25px;
    color: #666;
    line-height: 1.5;
}

.card button {
    padding: 10px 20px;
    border: 2px solid #e2716b;
    background: transparent;
    color: #e2716b;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.card:last-child {
    border-right: none;
}