.news-card {
    width: 350px;
    font-family: Arial, sans-serif;
    margin: 20px auto;
}

/* --- CATEGORY TITLE --- */
.category-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.bar {
    width: 4px;
    height: 22px;
    background-color: #ff6600; /* cam */
}


.img-box {
    position: relative;
}
.img-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    border-radius: 4px;
    background: linear-gradient(to bottom, transparent, #0d1b13);
}
.img-box img {
    width: 100%;
    border-radius: 4px;
}

.img-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}


.sub-news p {
    
    margin: 12px 0;
    font-size: 15px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}


.sub-news p:last-child {
    border-bottom: none;
}