*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 60px;
    background-color: #16a34a;
    color: white;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}