*{
    margin: 0;
    padding: 0;
}
article{
    padding-left: 30px;
    max-width: 300px;
    background-color: rgb(217 234 242);
    border-radius: 2px;
    padding: 10px;
}
.card+.card{
    margin-top: 20px;
}
.card:hover{
    background-color: rgb(190 226 244);
}