*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 30px
}
header{
    background-color: #16a34a;
    color: white;
    padding: 10px 30px;
    text-align: center;
}
main{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f3f4f6;
    min-height: calc(100vh - 120px);
    display: flex;
}
.sidebar{
    color: white;
    width: 250px;
    margin-right: 20px;
    padding: 20px;
    background-color: rgb(31, 6, 6);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.content{
    width: 100vw;
    background-color: rgb(253, 14, 14);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
footer{
    background-color: #16a34a;
    color: white;
    text-align: center;
    padding: 10px 20px;
}