*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
}
form{
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    background-color: aqua;
}
input:focus{
    border: 2px solid #3498db;
    outline: none;
}
button{
    padding: 3px;
    border-radius: 5px;
    border: none;
}
button:hover{
    padding: 3px;
    border-radius: 5px;
    border: none;
    background-color: blue;
}