* {
    margin: 0;
    padding: 0;
}

.product-container {
    width: 900px;
    padding: 50px;
    background-color: aqua;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    padding: 50px;
    border-radius: 5px;
    background-color: antiquewhite;
    text-align: center;
}

.card img {
    border-radius: 5px;
    height: 250px;
    width: 200px;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card button {
    border-radius: 5px;
    background-color: yellow;
    border: none;
    width: 180px;
    height: 30px;
}

button:hover {
    background-color: blue;
}